@model Inmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "E";
    var Propietario = Model;
}
<div id="contenedor-vista-previa" class="table-responsive d-flex justify-content-center align-items-center">
    <table class="table table-bordered table-striped w-auto">
        <tr>
            <th class="col" colspan="2">
                <h2><a asp-action="Index"><i class="bi bi-arrow-return-left" style="font-size: 1em; color: black;">Regresar</i></a></h2>
                <h2><a href="@Url.Action("Edit", new { id = Propietario.IdPropietario  })"> <i class="bi bi-pencil-square" style="font-size: 1em; color: green;">Editar</i> </a></h2>
            </th>
        </tr>
        <tr>
            <td class = "col-sm-4 fila-nombre">
                @Html.DisplayNameFor(model => model.Nombre)
            </td>
            <td class = "col-sm-8">
                @Html.DisplayFor(model => model.Nombre)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-4 fila-nombre">
                @Html.DisplayNameFor(model => model.Apellido)
            </td>
            <td class = "col-sm-8">
                @Html.DisplayFor(model => model.Apellido)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-4 fila-nombre">
                @Html.DisplayNameFor(model => model.Direccion)
            </td>
            <td class = "col-sm-8">
                @Html.DisplayFor(model => model.Direccion)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-4 fila-nombre">
                @Html.DisplayNameFor(model => model.Dni)
            </td>
            <td class = "col-sm-8">
                @Html.DisplayFor(model => model.Dni)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-4 fila-nombre">
                @Html.DisplayNameFor(model => model.Telefono)
            </td>
            <td class = "col-sm-8">
                @Html.DisplayFor(model => model.Telefono)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-4 fila-nombre">
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td class = "col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>        
        <tr>
            <td colspan="2">
                <h2 id="eliminar-mensaje">Estas seguro de que deseas eliminar este elemento?</h2>
                <form asp-action="Delete">
                    <input id="boton-general" type="submit" value="Delete" class="btn btn-info btn-block" />
                </form>
            </td>
        </tr>
        
    </table>
</div>
