@model IEnumerable<Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Inicio de Pago";
}

<div class="col-md-12 text-center">
    <h1>Pagos</h1>
    <h2><a asp-action="Create"> <i class="bi bi-plus-square-fill" style="font-size: 1em; color: black;"> Nuevo Pago </i> </a></h2>
</div>
<div class="table-responsive d-flex justify-content-center align-items-center">
    <table class="table table-bordered table-striped w-auto">
        <thead id="thead-color">
            <tr>
                <th class="col text-center">
                    @Html.DisplayNameFor(model => model.IdPago)
                </th>
                <th class="col text-center">
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th class="col text-center">
                    @Html.DisplayNameFor(model => model.Importe)
                </th>
                <th class="col text-center">
                    @Html.DisplayNameFor(model => model.NumeroPago)
                </th>
                <th class="col text-center">
                    @Html.DisplayNameFor(model => model.IdContrato)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdPago)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NumeroPago)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdContrato)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.IdPago"> <i class="bi bi-file-text-fill" style="font-size: 2em; color: orange;"></i> </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.IdPago"> <i class="bi bi-pencil-square" style="font-size: 2em; color: green;"></i> </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Delete" asp-route-id="@item.IdPago"> <i class="bi bi-trash3-fill" style="font-size: 2em; color: red;"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>