@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Delete";
    var Inmueble = Model;
}
<div id="contenedor-vista-previa" class="table-responsive d-flex justify-content-center align-items-center">
    <table class="table table-bordered table-striped w-auto">
        <tr>
            <th class="col">
                <h2><a asp-action="Index"><i class="bi bi-arrow-return-left" style="font-size: 1em; color: black;">Regresar</i></a></h2>
            </th>
            <th class="col">
                <h2><a href="@Url.Action("Edit", new { id = Inmueble.idInmueble  })"> <i class="bi bi-pencil-square" style="font-size: 1em; color: green;">Editar</i> </a></h2>
            </th>
        </tr>
        <tr>
            <td class = "col-sm-6 fila-nombre">
                @Html.DisplayNameFor(model => model.idInmueble)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.idInmueble)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.tipo)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.tipo)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.coordenadas)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.coordenadas)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.precio)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.precio)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.ambientes)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.ambientes)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.uso)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.uso)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.activo)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.activo)
            </td>
        </tr>
        <tr>
            <td class = "col-sm-6">
                @Html.DisplayNameFor(model => model.idPropietario)
            </td>
            <td class = "col-sm-6">
                @Html.DisplayFor(model => model.idPropietario)
            </td>
        </tr>
        
        <tr>
            <td>
                <h4>Estas seguro de que deseas eliminar este elemento?</h4>
            </td>
            <td>
                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
        
    </table>
</div>
