@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Delete";
}

<table>
    <tr>
        <td>
            <a asp-action="Index">Back to List</a>
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idInmueble)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.idInmueble)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coordenadas)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.coordenadas)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambientes)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.ambientes)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uso)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.uso)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </td>
    </tr>
    <tr>
        <td class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPropietario)
        </td>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.idPropietario)
        </td>
    </tr>
    
    <tr>
        <td>
            <h3>Are you sure you want to delete this?</h3>
        </td>
        <td>
            <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </td>
    </form>
    </tr>
    
</table>
