@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Details";
    var Inmueble = Model;
}

<div id="margen-titulo" class="col-md-12 text-center d-flex justify-content-center align-items-center">
    <h2><a asp-action="Index"><i class="bi bi-arrow-return-left" style="font-size: 1em; color: black;">Regresar</i></a></h2>
    <h2><a href="@Url.Action("Edit", new { id = Inmueble.idInmueble  })"> <i class="bi bi-pencil-square" style="font-size: 1em; color: green;">Editar</i> </a></h2>
</div>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idInmueble)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idInmueble)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coordenadas)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.coordenadas)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ambientes)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ambientes)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uso)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uso)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
        <div class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPropietario)
        </div>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPropietario)
        </dd>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
