@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Details";
    var Inmueble = Model;
}


<div class="table-responsive d-flex justify-content-center align-items-center">
    <table class="table table-bordered table-striped w-auto">
        <thead id="thead-color">
            <tr>
                <th class="col">
                    <h2><a asp-action="Index"><i class="bi bi-arrow-return-left"
                                style="font-size: 1em; color: black;">Regresar</i></a></h2>
                </th>
                <th class="col">
                    <h2><a href="@Url.Action("Edit", new { id = Inmueble.idInmueble  })"> <i class="bi bi-pencil-square"
                                style="font-size: 1em; color: green;">Editar</i> </a></h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    @Html.DisplayNameFor(model => model.idInmueble)
                </td>
                <td>
                    @Html.DisplayFor(model => model.idInmueble)
                </td>
            </tr>
            <tr>
                <td scope="row">
                    @Html.DisplayNameFor(model => model.tipo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.tipo)
                </td>
            </tr>
            <tr>
                <td scope="row">
                    @Html.DisplayNameFor(model => model.coordenadas)
                </td>
                <td>
                    @Html.DisplayFor(model => model.coordenadas)
                </td>
            </tr>
            <tr>
                <td scope="row">
                    @Html.DisplayNameFor(model => model.precio)
                </td>
                <td>
                    @Html.DisplayFor(model => model.precio)
                </td>
            </tr>
            <tr>
                <td scope="row">

                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td scope="row">

                </td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td scope="row">

                </td>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div id="contenedor-vista-previa" class="container">
    <div class="row">
        
    
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.ambientes)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.ambientes)
        </div>
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.uso)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.uso)
        </div>
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.activo)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.activo)
        </div>
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.idPropietario)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.idPropietario)
        </div>
    </div>
</div>
