@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Details";
    var Inmueble = Model;
}

<div id="margen-titulo" class="col-md-12 text-center d-flex justify-content-center align-items-center">
    <h2><a asp-action="Index"><i class="bi bi-arrow-return-left" style="font-size: 1em; color: black;">Regresar</i></a></h2>
    <h2><a href="@Url.Action("Edit", new { id = Inmueble.idInmueble  })"> <i class="bi bi-pencil-square" style="font-size: 1em; color: green;">Editar</i> </a></h2>
</div>


<div class="table-responsive d-flex justify-content-center align-items-center">
    <table class="table table-bordered table-striped w-auto">
        <thead id="thead-color">
            
        </thead>
    </table>
</div>


<div id="contenedor-vista-previa" class="container">
    <div class="row">
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.idInmueble)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.idInmueble)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.tipo)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.tipo)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.coordenadas)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.coordenadas)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.precio)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.precio)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ambientes)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.ambientes)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.uso)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.uso)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.activo)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.activo)
        </div>
        <div class = "col-sm-3">
            @Html.DisplayNameFor(model => model.idPropietario)
        </div>
        <div class = "col-sm-9">
            @Html.DisplayFor(model => model.idPropietario)
        </div>
    </div>
</div>
