@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<div class="col-md-12 text-center">
    <h1>Inmuebles</h1>
    <h2><a asp-action="Create"> <i class="bi bi-plus-square-fill" style="font-size: 1em; color: black;"> Nuevo Inmueble </i> </a></h2>
</div>
<div class="table-responsive d-flex justify-content-center align-items-center">
    <table class="table table-bordered table-striped w-auto">
        <thead id="thead-color">
            <tr>
                <th class="col">
                    @Html.DisplayNameFor(model => model.idInmueble)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.tipo)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.coordenadas)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.ambientes)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.uso)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.activo)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.idPropietario)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.idInmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.coordenadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ambientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idPropietario)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.idInmueble })"> <i class="bi bi-pencil-square" style="font-size: 2em; color: green;"></i> </a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.idInmueble })"> <i class="bi bi-file-text-fill" style="font-size: 2em; color: orange;"></i> </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { id = item.idInmueble })"> <i class="bi bi-trash3-fill" style="font-size: 2em; color: red;"></i> </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

