@model Inmobiliaria.Models.Usuario

@{
    ViewData["Title"] = "Mi Perfil";
    var Usuario = Model;
}

<div
    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"> @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-3 col-lg-3 " align="center">

                    @if (Model.Avatar != "")
                    {
                        <img src="@Model.Avatar" alt="Avatar" style="width: 45px; heigh:45px;"
                            class="img-circle img-responsive">
                    }
                    else
                    {
                        <img src="/img/default.webp" alt="Avatar" style="width: 45px; heigh:45px;"
                            class="img-circle img-responsive">
                    }

                </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td class="fila-nombre">
                                    @Html.DisplayNameFor(model => model.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Email)
                                </td>
                            </tr>
                            <tr>
                                <td class="fila-nombre">
                                    @Html.DisplayNameFor(model => model.Rol)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.RolNombre)
                                </td>
                            </tr>

                            </tr>

                        </tbody>
                    </table>

                    <a href="#" class="btn btn-primary">My Sales Performance</a>
                    <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            
        </div>

    </div>
</div>